{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} IEvent</title>
    <link rel="stylesheet" href="/static/css/base.css">
    {% block head %}{% endblock head %}
</head>
<body style="background-color:#f5f5f5">
    <div class="navbar">
        <nav style="background-color:#fff;line-height:0">
            <div class="left_content">
                <i class="fas fa-bars menu-bar" data-visible="true" onclick="handleSidebar()" style="margin-right:15px"></i>
                <img src="/static/images/logo1.png" alt="">
                <h1 class="navbar-logo"><a href="/fests">iEvent</a></h1>
            </div>
            <ul class="nav_links">
                {% if user.is_authenticated %}
                Welcome, {{ user.username }}
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <i class="fas fa-sign-out-alt"></i>
                    <a class="nav-link active" aria-current="page" href="auth/logout">Logout</a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/auth/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/auth/signup">Signup</a>
                    </li>
                {% endif %}
            </ul> 
        </nav>
        {% comment %} <div class="info-message">
            <p>The message</p>
        </div> {% endcomment %}
    </div>
    
      <div class="all_container">
        <div class="sidebar" data-visible="false">
            <div class="sidebar-content">
                <a href="/fests" onclick="handleSidebar()" class="side-menu festclass">
                    <div class="side-menu-item">
                        <i class="fas fa-home"></i>
                        <p>Fests</p>
                    </div>
                </a>
                {% if user.is_authenticated %}
                <a href="/getyourevents" onclick="handleSidebar()" class="side-menu regeventclass">
                  <div class="side-menu-item">
                    <i class="far fa-calendar-check"></i>
                    <p>Registered Events</p>
                  </div>
                </a>
                {% endif %}
                {% if user.profile.isCordinator %}
                <a href="/cordinator" onclick="handleSidebar()" class="side-menu cordclass">
                    <div class="side-menu-item">
                        <i class="fas fa-users-cog"></i>
                      <p>Coordinator Panel</p>
                    </div>
                </a>
                {% endif %}
                <a href="/profile" onclick="handleSidebar()" class="side-menu profileclass">
                    <div class="side-menu-item">
                      <i class="far fa-calendar-check"></i>
                      <p>Profile</p>
                    </div>
                </a>
              </div>
          </div>
        <div class="content_container">
            {% block body %}{% endblock body %}
        </div>
    </div>
    <script src="https://kit.fontawesome.com/bfc635748c.js" crossorigin="anonymous"></script>
    {% block js %}{% endblock js %}
    <script>
        
        fest=document.querySelector(".festclass")
        regeve=document.querySelector(".regeventclass")
        profile=document.querySelector(".profileclass")
        cord=document.querySelector(".cordclass")
        if(window.location.pathname.includes("/fests")){
            fest.setAttribute('id','selected-sidemenu');
        }
        else if(window.location.pathname.includes("/getyourevents")){
            regeve.setAttribute('id','selected-sidemenu');
        }
        else if(window.location.pathname.includes("/profile")){
            profile.setAttribute('id','selected-sidemenu');
        }
        else if(window.location.pathname.includes("/cordinator")){
            cord.setAttribute('id','selected-sidemenu');
        }
        const handleSidebar = () => {
          console.log("heeee");
            const sidebar = document.querySelector(".sidebar");
            const visibility = sidebar.getAttribute('data-visible');
            if (visibility === "false") {
                sidebar.setAttribute("data-visible", true);
            }
            else if (visibility === "true") {
                sidebar.setAttribute("data-visible", false);
            }
        }
      </script>
</body>
</html>