@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body{
    background-color: #f5f5f5;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 2%;
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 9;
  top: 0;
}
nav .left_content{
  display: flex;
  align-items: center;
}
.left_content img{
  width: 30px;
  margin-right: 8px;
}
.left_content h1 a{
  font-size: 1.3rem;
}
nav .left_content .menu-bar{
  display: none;
}
.navbar-logo a{
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 25px;
}
.nav_links{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav_links li{
  list-style: none;
}
.nav_links li a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.contents{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Inter", sans-serif;
    height: 100vh;
  }
  @media (max-width: 60em) {
   .contents{
      padding: 1.8rem;
    }
  }
  
  input {
      background-color: #DDDDDD;
      border: none;
      padding: 12px 15px;
      margin: 8px 0;
      width: 100%;
      border-radius: 6px;
  }
  
  button {
      border-radius: 20px;
      border: 1px solid #FF4B2B;
      background-color: #FF3838;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: transform 80ms ease-in;
      border-radius: 4px;
    cursor: pointer;
  }
  
  button:active {
      transform: scale(0.95);
  }
  
  button:hover {
      background-color: #DD2D4A;
  }
  
  form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      max-width: 250px;
  }
  form img{
    width: 100%;
    max-width: 8.5rem;
  }
  h3{
    font-size: 0.8rem;
  }


  div.alert.alert-danger {
    margin-bottom: 0;
    }
    
    div.alert {
    background-color: none;
    border: none;
    }
    
    .alert {
      font-size: 15px;
    color: #842029;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    border-radius: 0.375rem;
    padding: 8px 15px;
    }