{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/signup.css">
</head>
<body>
    <nav style="background-color:#fff">
        <div class="left_content">
            <i class="fas fa-bars menu-bar" data-visible="true" onclick="handleSidebar()" style="margin-right:10px"></i>
            <img src="/static/images/logo1.png" alt="">
            <h1 class="navbar-logo"><a href="/fests">iEvent</a></h1>
        </div>
        <ul class="nav_links">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <i class="fas fa-sign-out-alt"></i>
                <a class="nav-link active" aria-current="page" href="auth/logout">Logout</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/auth/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/auth/signup">Signup</a>
                </li>
            {% endif %}
        </ul>
        </div>
      </nav>
    <div class="contents">
        <form class="login" method='POST'>
            {% csrf_token %}
            <img src="/static/images/userreg/face2.png">
            <input class="txt" type="text" placeholder="Username" name="username" minlength="3" maxlength="15" required>
            <input class="txt" type="email" placeholder="Email" name="email" required>
            <input class="txt" type="password" placeholder="Password" name="password" minlength="8" maxlength="15" required>
            <button>Signup</button>
            <h3 style="margin-top:10px">Already have an account?&nbsp<a href="/auth/login"><u>Login</u></a></h3>
            {% for message in messages %}
                <div class="alert alert-danger" role="alert" style="margin-bottom: 0px;">
                    {{message}}
                </div>
            {% endfor %}
        </form>
    </div>
</body>
</html>